html,
body {
    height: 100%;
    width: 100%;
    color: #ffffff
}

h1,
h2 {
    font-weight: 200;
    margin: auto;
}

h1 {
    font-size: 1em;
}

h2 {
    color: #ffffff;
    font-size: .5em;
}

img {
    width: 100%;
}

.section-content {
    padding: 170px 0;
}

.section-title {
    padding-bottom: 20px;
}

#hero {
    background: #222 url("https://hd.unsplash.com/photo-1467703834117-04386e3dadd8") center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#hero-caption {
    width: 100%;
}

#about {
    background: #ececec url("https://hd.unsplash.com/photo-1414690165279-49ab0a9a7e66") center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    align-items: center;
    margin: 9em 0;
    padding: 3rem;
}

#contact {
    background: #ececec url("https://hd.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
}

#footer-main {
    background-color: #222;
    color: #fff;
    font-size: 0.9em;
    padding: 2em;
}

#footer-main a {
    color: #999;
}

#footer-main a:hover {
    color: #efefef;
}
/* modals */

.service-modal .modal-dialog {
    margin: auto;
    height: 100%;
    width: auto;
}

.service-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.service-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.service-modal .modal-content img {
    margin-bottom: 30px;
}

.service-modal .modal-content p {
    margin-bottom: 30px;
}

.service-modal .close-modal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.service-modal .close-modal .close-icon {
    height: 30px;
    width: 1px;
    margin-left: 15px;
    background-color: #555;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1000;
}

.service-modal .close-modal:hover .close-icon {
    background-color: #e74c3c;
}

.service-modal .close-modal .close-icon .close-icon-r {
    height: 30px;
    width: 1px;
    background-color: #555;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1000;
}

.service-modal .close-modal:hover .close-icon .close-icon-r {
    background-color: #e74c3c;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 120px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

.btn:hover {
    text-decoration: none;
}

.btn-1 {
    background: #e02c26;
    font-weight: 100;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition-delay: none;
}

.btn-1:hover {
    background: rgba(168, 166, 166, 0.493);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-3 {
    background: #e3403a;
    border: 1px solid #da251f;
    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.btn-3:hover {
    background: #e02c26;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgb(2, 2, 2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    transition: all 250ms linear;
}

.link-underline {
    padding: 10px;
    border: 2px solid transparent;
    &::after {
        width: 0%;
        height: 2px;
        display: block;
        background-color: #fff;
        content: " ";
        position: absolute;
        top: 34px;
        left: 50%;
        transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &:hover {
        &::after {
            width: 100%;
            height: 2px;
            display: block;
            background-color: #fff;
            content: " ";
            position: absolute;
            top: 34px;
            left: 0;
        }
    }
